::-webkit-scrollbar {

    width: 5px;  

    height: 2px; 

}

::-webkit-scrollbar-thumb {

    background-color: #74292c;

    border-radius: 0;

}

::-webkit-scrollbar-thumb:hover {

    background-color: #74292c;

}

::-webkit-scrollbar-track {

    background: #BFB8B3;

    border-radius: 0;

} 